# engine
import(data.table)
import(Rserve)
import(RSclient)

# to big.data.table
export(big.data.table)
export(core.data.table)
export(as.big.data.table)
S3method(as.big.data.table, data.table)
S3method(as.big.data.table, list)
S3method(as.big.data.table, call)
S3method(as.big.data.table, "function")

# big.data.table
S3method("[", big.data.table)
S3method("[[", big.data.table)
S3method(dim, big.data.table)
S3method(str, big.data.table)
S3method(print, big.data.table)

# from big.data.table
S3method(as.data.table, big.data.table)

# core
export(bdt.eval)
export(bdt.assign)
export(bdt.partition)

# others
export(is.big.data.table)
export(rsc)
export(is.rsc)
export(clean)
export(rbindlapply)
